  *{
    margin: 0;
    padding: 0;
  }
  .logatas{
    position: relative;
    z-index: 1;
    /* background-color: rgb(134, 240, 204); */
  }
  .logatas img{
    width: 280px;
    height: 70px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logatas P{
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .navbar{
    font-family: 'lato';
    font-weight: normal;
    position: relative;
    margin-top: -17px;
    /* background-color: rgb(165, 199, 98); */
    text-transform: uppercase;
    z-index: 1;
  }

  .nav-link{
  padding: 5px 0;
  margin: 0 10px;
  color: white !important;
  }

  .nav-link:hover{
    background-color:#D6CBCB;
    color:#3D2120 !important;
    border-radius: 4px;
  }

  /* Home */

  .jumbotron{
    height: 886px;
    margin-top: -150px;
    position: relative;
    background: linear-gradient(#3D2120,#9D5A06);
  }

  .jumbotron img{
    position: relative;
    width: 693px;
    height: 728px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .jumbotron p{
    font-family: 'lato';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: -220px;
    margin-left: 75px;
    float: left;
    z-index: 1;
  }
  .joinus{
    font-family: 'lato';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    width: 180px;
    height: 50;
    border: 3px solid white;
    border-radius: 8px;
    padding: 3px 10px;
    margin-top: -150px;
    margin-left: 40px;
    float: left;
  }

  .tentang{
    font-family: 'lato';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    width: 180px;
    height: 50;
    border: 3px solid white;
    border-radius: 8px;
    padding: 3px 10px;
    margin-top: -150px;
    margin-right: 50px;
    float: right;
  }

  .medsos p{
    text-align: center;
    float: none;
    text-transform: lowercase;
    margin-top: -5px;
  }

  .medsos img{
    width: 30px;
    height: 30px;
    margin: auto;
  }

  .medsos .instagram{
    float: left;
    margin-left: 460px;
    margin-top: -45px;
  }

  .medsos .facebook{
    float: right;
    margin-right: 470px;
    margin-top: -45px;
  } 

  .ornamen img{
    float: left;
    width: 360px;
    height: 360px;
    margin: 0;
    padding: 0;
    margin-top: -920px;
    margin-left: -220px;
  }
  .ornamen1 img{
    float: right;
    width: 220px;
    height: 320px;
    margin: auto;
    padding: auto;
    margin-top: -325px;
    margin-right: -115px;
  }
  /* Akhir Home */

  /* Profile */
  .isi{
    background-color: #D6CBCB;
    margin-top: -32px;
    height: 800px;
  }
  .about{
    width: 100%;
  }
  .about p{
    /* background-color: aquamarine; */
    text-align: justify;
    padding: 10px 10px;
    margin-left: 180px;
    margin-right: 90px;
    margin-top: 120px;
    letter-spacing: 10%;
  }
  .about img{
    width: 400px;
    height: 400px;
    margin-top: 50px;
    display: block;
    margin-left: 80px;
    margin-right: 120px;
  }

  .viewdetail{
    color: #9D5A06 ;
    text-align: center;
    font-family: 'lato';
    font-size: 18px;
    width: 170px;
    height: 40px;
    border: 3px solid #3D2120;
    border-radius: 10px;
    margin-left: 280px;
  }

  .viewdetail:hover{
    background-color: #9D5A06;
    color: white !important;
  }

  .teks{
    text-align: center;
    margin-top: 50px;
  }

  .teks h3{
    color: #9D5A06;
  }

  .visimisi{
    display: flex;
    justify-content: center;
  }

  .visi{
    /* background-color: chartreuse; */
    text-align: right;
    box-sizing: border-box;
    padding-top: 20px;
    /* padding-left: 0px; */
    /* padding: 20px 60px; */
    margin-left: -240px;
    margin-right: 60px;
  }
  
  .misi{
    /* background-color: cyan; */
    padding-top: 20px;
    padding-right: 60px;
    margin-left: -40px;
    /* margin-right: 320px; */
    text-align: left;
    box-sizing: border-box;
  }

  .misi p a{
    text-decoration: none;
    color: #3D2120;
  }

  .misi p a:hover{
    color: white !important;
  }

  #ornamen2{
    width: 200px;
    height: 230px;
    margin-top: -190px;
    margin-left: -30px;
  }
  /* Akhir Profile */











  @media (max-width:576px){
    .logatas{
      background-color: #3D2120;
      padding: 4px;
    }
    .logatas img{
      width: 180px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logatas P{
      font-size: 12px;
      text-align: center;
      color: white;
    }
    .navbar{
      padding:10px 0;
      background-color: #9D5A06;
      text-align: center;
    }

    .nav-link:hover{
      background-color: #3D2120;
      color: white !important;
    }

    /* Home */
    .jumbotron{
      height: 680px;
      margin-top: 0;
    }

    .jumbotron img{
      position: relative;
      margin-top: -20px;
      width: 340px;
      height: 360px;
      z-index: 1;
    }
    .jumbotron p{
      float: left;
      font-size: 16px;
      margin-top: 50px;
      margin-left: 165px;
    }
    .joinus{
      border: 1px solid white;
      font-size: 12px;
      width: 130px;
      height: 25;
      border-radius: 8px;
      padding: 3px 10px;
      margin-left: 165px;
      margin-top: 5px;
    }

    .joinus:hover{
      background-color: #3D2120;
      color: white !important;
    }
  
    .tentang{
      float: right;
      font-size: 12px;
      width: 140px;
      height: 25;
      padding: 3px 10px;
      margin-top: 20px;
      margin-right: 154px;
    }

    .tentang:hover{
      background-color: #3D2120;
      color: white !important;
    }
  
    .medsos p{
      display: flex;
      font-family: 'lato';
      font-size: 16px;
      text-transform: lowercase;
      margin-left: 178px;
      margin-top: 25px;

    }
  
    .medsos .instagram{
      float: left;
      width: 30px;
      height: 30px;
      margin-left: -145px;
      margin-top: 20px;
    }
  
    .medsos .facebook{
      float: right;
      width: 30px;
      height: 30PX;
      margin-right: 130px;
      margin-top: 20PX;
    } 
  
    .ornamen img{
      display: block;
      position:absolute;
      width: 180px;
      height: 180px;
      margin-left: -50px;
      margin-top: -380px;
    }
    .ornamen1 img{
      display: block;
      width: 120px;
      height: 180px;
      margin-top: -120px;
      margin-right: -15px;
    }
    /* Akhir Home */
    
    
    /* Profile */
    .isi{
      height: 1200px;
    }
    .about p{
      padding: 5px 5px;
      margin-left: 50px;
      margin-right: 10px;
      margin-top: 110px;
      letter-spacing: 10%;
    }
    .about img{
      width: 350px;
      height: 350px;
      margin-top: 20px;
      display: block;
      margin-left: 70px;
      margin-right: 60px;
    }

    .viewdetail{
      padding: 2px 0;
      font-family: 'lato';
      font-size: 16px;
      width: 140px;
      height: 35px;
      border: 3px solid #3D2120;
      border-radius: 10px;
      margin-top: 10px;
      margin-left: 170px;
    }

    .viewdetail:hover{
      background-color: #9D5A06;
      color: white !important;
    }

    .visimisi{
      display: block;
      margin: 20px 0;
    }
  
    .visi{
      background-color: #3D2120;
      color: white;
      text-align: center;
      padding: 20px 20px;
      margin: 10px 0;
    }
  
    .misi{
      background-color: #9D5A06;
      text-align: center;
      padding: 20px 0;
      margin-left: auto;
      margin: 20px 0;
    }

    #ornamen2{
      display: none;
    }
    /* Akhir Profile */
  }
