  *{
    margin: 0;
    padding: 0;
  }
  .logatas{
    position: relative;
    z-index: 1;
    /* background-color: rgb(134, 240, 204); */
  }
  .logatas img{
    width: 280px;
    height: 70px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logatas P{
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .navbar{
    font-family: 'lato';
    font-weight: normal;
    position: relative;
    margin-top: -17px;
    /* background-color: rgb(165, 199, 98); */
    text-transform: uppercase;
    z-index: 1;
  }

  .nav-link{
  padding: 5px 0;
  margin: 0 10px;
  color: white !important;
  }

  .nav-link:hover{
    background-color:#D6CBCB;
    color:#3D2120 !important;
    border-radius: 4px;
  }

  /* Home */

  .jumbotron{
    height: 886px;
    margin-top: -150px;
    position: relative;
    background: linear-gradient(#3D2120,#9D5A06);
  }

  .jumbotron img{
    position: relative;
    width: 693px;
    height: 728px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .jumbotron p{
    font-family: 'lato';
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: -220px;
    margin-left: 60px;
    float: left;
    z-index: 1;
  }
  .joinus{
    font-family: 'lato';
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    width: 180px;
    height: 50;
    border: 3px solid white;
    border-radius: 8px;
    padding: 3px 10px;
    margin-top: -150px;
    margin-left: 40px;
    float: left;
  }

  .tentang{
    font-family: 'lato';
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    width: 180px;
    height: 50;
    border: 3px solid white;
    border-radius: 8px;
    padding: 3px 10px;
    margin-top: -150px;
    margin-right: 40px;
    float: right;
  }

  .medsos p{
    text-align: center;
    float: none;
    text-transform: lowercase;
    margin-top: -5px;
  }

  .medsos img{
    width: 30px;
    height: 30px;
    margin: auto;
  }

  .medsos .instagram{
    float: left;
    margin-left: 460px;
    margin-top: -45px;
  }

  .medsos .facebook{
    float: right;
    margin-right: 460px;
    margin-top: -45px;
  } 

  .ornamen img{
    float: left;
    width: 360px;
    height: 360px;
    margin: 0;
    padding: 0;
    margin-top: -920px;
    margin-left: -220px;
  }
  .ornamen1 img{
    float: right;
    width: 220px;
    height: 320px;
    margin: auto;
    padding: auto;
    margin-top: -325px;
    margin-right: -115px;
  }
  /* Akhir Home */

  /* Profile */
.isi{
  background-color:#D6CBCB;
  font-family: 'lato';
  height: 1000px;
  margin-top: -34px;

}
.container-satu{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.abot{
  background-color: chocolate;
  text-align: justify;
  word-spacing: 8PX;
  margin: 20px;
  box-sizing: border-box;
}


.view_detail{
  text-decoration: none;
  color:#9D5A06 !important;
  border: 2px solid #3D2120;
  border-radius: 10px;
  box-shadow: #9D5A06;
  text-align: center;
  margin-top: 20px;
  margin-left: 140px;
  word-spacing: normal;
}

.view_detail:hover{
  background: #9D5A06;
  color: white !important;
}

.imageprof img{
  width: 350px;
  height: 380px;
  padding-top: 20px;
}

/* .teksvisi{
  text-align: center;
} */

/* .contenvisimisi{
  display: flex;
  justify-content: center;
} */

/* .visi{
  background-color: #9d5a06;
  text-align: right;
  box-sizing: border-box;
} */
/* 
.misi{
  background-color: aqua;
  text-align: left;
  box-sizing: border-box;
} */
  /* Akhir Profile */

  @media (max-width:576px){
    .logatas{
      background-color: #3D2120;
      padding: 4px;
    }
    .logatas img{
      width: 180px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logatas P{
      font-size: 12px;
      text-align: center;
      color: white;
    }
    .navbar{
      padding:10px 0;
      background-color: #9D5A06;
      text-align: center;
    }

    .nav-link:hover{
      background-color: #3D2120;
      color: white !important;
    }

    /* Home */
    .jumbotron{
      height: 680px;
      margin-top: 0;
    }

    .jumbotron img{
      position: relative;
      margin-top: -20px;
      width: 340px;
      height: 360px;
      z-index: 1;
    }
    .jumbotron p{
      float: left;
      font-size: 16px;
      margin-top: 50px;
      margin-left: 165px;
    }
    .joinus{
      border: 1px solid white;
      font-size: 12px;
      width: 130px;
      height: 25;
      border-radius: 8px;
      padding: 3px 10px;
      margin-left: 165px;
      margin-top: 5px;
    }

    .joinus:hover{
      background-color: #3D2120;
      color: white !important;
    }
  
    .tentang{
      float: right;
      font-size: 12px;
      width: 140px;
      height: 25;
      padding: 3px 10px;
      margin-top: 20px;
      margin-right: 154px;
    }

    .tentang:hover{
      background-color: #3D2120;
      color: white !important;
    }
  
    .medsos p{
      display: flex;
      font-family: 'lato';
      font-size: 16px;
      text-transform: lowercase;
      margin-left: 178px;
      margin-top: 25px;

    }
  
    .medsos .instagram{
      float: left;
      width: 30px;
      height: 30px;
      margin-left: -145px;
      margin-top: 20px;
    }
  
    .medsos .facebook{
      float: right;
      width: 30px;
      height: 30PX;
      margin-right: 130px;
      margin-top: 20PX;
    } 
  
    .ornamen img{
      display: block;
      position:absolute;
      width: 180px;
      height: 180px;
      margin-left: -50px;
      margin-top: -380px;
    }
    .ornamen1 img{
      display: block;
      width: 120px;
      height: 180px;
      margin-top: -120px;
      margin-right: -15px;
    }
    /* Akhir Home */
    
    /* Profile */

    /* Akhir Profile */
  }
